# Environment sample for production

# SECRET_KEY and DEBUG should always be set in the production environment
SECRET_KEY=your-production-secret-key
DEBUG=False
ALLOWED_HOSTS=your-production-domain.com
DATABASE_URL=postgres://user:password@host:5432/production_db
COMPANY_EMAIL=hq@kenturian.co.ke

# SMTP
EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_HOST_USER=your-smtp-user
EMAIL_HOST_PASSWORD=your-smtp-password
EMAIL_USE_TLS=True
