# Development env sample. Copy to .env.dev and adjust values.
SECRET_KEY=replace-me-with-a-strong-secret
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_URL=postgres://postgres:postgres@db:5432/kenturian
COMPANY_EMAIL=hq@kenturian.co.ke
COMPANY_NAME=Kenturian Pulp & Paper Mills Limited
COMPANY_ADDRESS=P.O.BOX: 39822 - 00623 Nairobi (Kenya). Head office: Plot No. Kajiado/Kaputiei-North/75261, Opposite Zennith Steel, Namanga Road, Isinya (Kenya)
LOGO_STATIC=images/logo.svg

# SMTP (set for production) examples
# EMAIL_HOST=smtp.sendgrid.net
# EMAIL_PORT=587
# EMAIL_HOST_USER=apikey
# EMAIL_HOST_PASSWORD=your_sendgrid_api_key
# EMAIL_USE_TLS=True
