# Python / Django
*.pyc
__pycache__/
*.sqlite3
*.log

# Virtualenvs
.venv/
venv/

# Environment / secrets
.env
.env.*.local
.env.example
.env.production.example

# Backups
*.bak

# Editor / IDE
.vscode/
.idea/

# Static / build / media
staticfiles/
media/
mediafiles/
node_modules/
dist/

# Logs, temp
*.swp
*.swo
*.tmp

# OS
.DS_Store
Thumbs.db

# Docker / CI / local build artifacts
docker-compose.override.yml
.env.local
